.Comment {
    width: 100%;
    padding: 10px 12px 30px;
    margin: 15px auto 10px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(214, 226, 226);
}

.Comment label {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.Comment .Button {
    display:flex;
    float: left;
    margin-top: -20px;
}