.BlogCard {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.BlogCard a {
    color: inherit;
}
.BlogCard a:hover {
    color: #5ad67d;
}
.BlogCard:hover .Photo {
    transform: scale(1.3) rotate(3deg);
}
.BlogCard .Meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.BlogCard .Photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
/* .BlogCard .Details, .BlogCard .Details ul {
    margin: auto;
    padding: 0;
    list-style: none;
} */
/* .BlogCard .Details {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
} */
/* .BlogCard .Details a {
    text-decoration: dotted underline;
} */
/* .BlogCard .Details ul li {
    display: inline-block;
} */
/* .BlogCard .Details .Author:before {
    font-family: sans-serif;
    margin-right: 10px;
    content: "\f007";
}
.BlogCard .Details .Date:before {
    font-family: sans-serif;
    margin-right: 10px;
    content: "\f133";
}
.BlogCard .Details .Tags ul:before {
    font-family: sans-serif;
    content: "\f02b";
    margin-right: 10px;
} */
/* .BlogCard .Details .Tags li {
    margin-right: 2px;
}
.BlogCard .Details .Tags li:first-child {
    margin-left: -4px;
} */
.BlogCard .Description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.BlogCard .Description h1, .BlogCard .Description h2 {
    font-family: sans-serif;
}
.BlogCard .Description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.BlogCard .Description h2 {
    font-size: 1rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    color: #a2a2a2;
    margin-top: 5px;
}
.BlogCard .Description .ReadMore {
    text-align: right;
}
.BlogCard .Description .ReadMore a {
    color: #5ad67d;
    /* display: inline-block; */
    /* position: relative; */
}
/* .BlogCard .Description .ReadMore a:after {
    content: "\f061";
    font-family: sans-serif;
    margin-left: -20px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
} */
/* .BlogCard .Description .ReadMore a:hover:after {
    margin-left: 5px;
    opacity: 1;
} */
.BlogCard p {
    position: relative;
    margin: 1rem 0 0;
}
.BlogCard p:first-of-type {
    margin-top: 1.25rem;
}
.BlogCard p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
/* .BlogCard:hover .Details {
    left: 0%;
    opacity: 0.3%;
} */
@media (min-width: 640px) {
    .BlogCard {
        flex-direction: row;
        max-width: 700px;
   }
    .BlogCard .Meta {
        flex-basis: 40%;
        height: auto;
   }
    .BlogCard .Description {
        flex-basis: 60%;
   }
    .BlogCard .Description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
   }
    .BlogCard.alt {
        flex-direction: row-reverse;
   }
    .BlogCard.alt .Description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
   }
    .BlogCard.alt .Details {
        padding-left: 25px;
   }
}
