  .Cont {
    background: #2E3740;
    /* width: 70%; */
    color: #435160;
    font-family: "Open Sans", sans-serif;
  }
  
  .Login h2 {
    color: #6D7781;
    font-family: "Sofia", cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Login a {
    color: #435160;
    text-decoration: none;
  }
  
  .Login {
    width: 350px;
    
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
  }
  
  .Login input[type="text"], input[type="password"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 16px;
  }
  .Login input[type=checkbox] {
    display: none;
  }
  
  .Agree label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #435160;
  }
  
  .Agree #agree:checked ~ label[for=agree] {
    background: #435160;
  }
  
  .Login button {
    background: #1FCE6D;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    /* transition: transform 0.3s ease-in-out; */
    transition: background 0.3s ease-in-out;
  }
  .Login button:hover {
    background: #16aa56;
    animation-name: shake;
  }
  
  .Forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .Forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6D7781;
  }
  
  .Login .Agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }
  
 .Login ::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
  }
  
  .Login .Animated {
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }


  /* @media (max-width: 500px) {
    .Login {
      max-width: 60%;

    }

    .Cont {
      max-width: 60%;
    }

    .Cont .Login {
      max-width: 60%;
    }
  } */